@charset "UTF-8";

html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 1.6rem;
    font-family: Dosis, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

ul {
    list-style:none;
}

.light-pattern {
    background: #FFB5AD;
    color: #7F3730;
}

.dark-pattern {
    background: #7F3730;
    color: #FFB5AD;
}

.header {
    padding:170px 30px 80px;
    background-color: #7F3730;
    color: #FFB5AD;
}

.logo {
    margin-top: 50px;
}

.site-description {
    margin-bottom: 50px;
    font-size: 2rem;
}

.button {
    display:inline-block;
    padding:20px;
    border-radius: 4px;
    background-color: #FFB5AD;
    color: #7F3730;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 2rem;
}

.button:hover {
    background-color: #FF6F61;
    color: #7F3730;
    opacity: 0.9;
}

.buttons .button {
    margin: 10px;
}

.about {
    padding: 30px 30px;
}

.heading {
    margin: 30px 0 15px;
    letter-spacing: 2px;
    font-size: 4rem;
    color: #FF6F61;
}

.about-title {
    margin: 20px 100px;
    line-height: 2;
    font-size: 2rem;
}

.about-text {
    margin: 20px 100px;
    line-height: 2;
}

.about .about-text a{
    color: #FF6F61;
}

.link {
    padding: 30px 30px;
}

.link-box {
    margin: 40px 100px;
    line-height: 2;
}

.contact {
    padding: 80px 30px;
}

.contact-wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 30px;
    table-layout: fixed;
}

.contact-box {
    display: table-cell;
}

.contact-icon {
    width: 60px;
    height: 60px;
    margin: 10px 30px;
    border: 3px solid;
    border-radius: 50%;
    color: #7F3730;
    font-size: 4rem;
    line-height: 55px;
}

.footer {
    padding: 12px 0;
    font-size: 1.3rem;
}

@media (width: 500px) {
    .body {
        font-size: 1.3rem;
    }

    .header {
        padding-top: 60px;
    }

    .site-title {
        margin-top: 35px;
        font-size: 5rem;
    }

    .button:hover {
        opacity: 1;
    }

    .heading {
        font-size: 2.5rem;
    }

    .about-text {
        margin: 20px auto;
        line-height: 1.8;
    }

    .contact {
        padding-bottom: 20px;
    }

    .contact-icon {
        width: 45px;
        height: 45px;
        margin: 10px 30px;
        border: 3px solid;
        border-radius: 50%;
        color: #FF6F61;
        font-size: 2.5rem;
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .body {
        font-size: 1.3rem;
    }

    .header {
        padding-top: 60px;
    }

    .site-title {
        margin-top: 35px;
        font-size: 5rem;
    }

    .button:hover {
        opacity: 1;
    }

    .heading {
        font-size: 2.5rem;
    }

    .about-text {
        margin: 20px auto;
        line-height: 1.8;
    }

    .contact {
        padding-bottom: 20px;
    }

    .contact-icon {
        width: 45px;
        height: 45px;
        margin: 10px 30px;
        border: 3px solid;
        border-radius: 50%;
        color: #FF6F61;
        font-size: 2.5rem;
        line-height: 40px;
    }
}